.clock {
  position: relative;
  margin: 150px;
}

.digital {
  width: 150px;
  height: 50px;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
}
.digital:hover{
    background-color: #222;
    color:#fff;
    transition-duration: 2s;
    transition-delay:0.5s;
    transition-timing-function: ease-in-out;
}

.analog {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #000;
}

.analog:hover{
  background-color: #a52c2c;
  color:#aec71e;
  transition-duration: 2s;
  transition-delay:0.5s;
  transition-timing-function: ease-in-out;
  border: 2px solid #000;
  
}


.hour-hand, .minute-hand, .second-hand {
  position: absolute;
  background-color: #000;
}

.hour-hand {
  width: 4px;
  height: 60px;
  top: 50px;
  left: 98px;
  transform-origin: 50% 100%;
}

.minute-hand {
  width: 3px;
  height: 80px;
  top: 40px;
  left: 99px;
  transform-origin: 50% 100%;
}

.second-hand {
  width: 2px;
  height: 90px;
  top: 30px;
  left: 100px;
  transform-origin: 50% 100%;
  background-color: red;
}

.center-circle {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 94px;
  left: 94px;
}
